@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "AccountCategorySearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divAccountCategory {
        max-height: 80vh;
        overflow: scroll;
    }

    .divAccountCategorySelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divAccountCategorySelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divAccountCategoryNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">فئات الحسابات</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divAccountCategory">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyAccountCategory"></tbody>
    </table>
</div>


<!-- AccountCategory GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        //// AccountCategory GET
        //funAccountCategoryGET();
    })

    // AccountCategory GET
    function funAccountCategoryGET() {

        $.get('/api/APIVAccountCategory/VAccountCategoryGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyAccountCategory');


                // AccountCategorys
                $.each(vDataResult, function (i, AccountCategoryData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].AccountCategoryId + '">';

                    var vAccountCategoryName = vDataResult[i].LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vAccountCategoryName = vDataResult[i].LookupDtlDescL;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divAccountCategorySelect d-flex p-2" data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divAccountCategoryNo px-4">' + vDataResult[i].CodeId  + '</div>';
                                vRowContent += '<div class="divAccountCategoryName px-4">' + vAccountCategoryName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search AccountCategory -->
<script>
    //// Search
    //$('.txtSearch').on('keyup', function () {

    //    // Search Input
    //    var vSearchInput = $(this).val();

    //    if (vSearchInput) {

    //        // Check All
    //        $('.divAccountCategorySelect').each(function () {

    //            // Get AccountCategory Code
    //            var vAccountCategoryCode = $(this).find('.divAccountCategoryNo').text();
    //            var vAccountCategoryName = $(this).find('.divAccountCategoryName').text();

    //            if (vAccountCategoryCode.search(vSearchInput) != -1 || vAccountCategoryName.search(vSearchInput) != -1) {

    //                $(this).addClass('table-success');
    //                $(this).hide();

    //                console.log('found')
    //            }
    //            else {
    //                $(this).removeClass('table-success');
    //                $(this).show();
    //            }

    //        })

    //    }
    //    else {
    //        $('.divAccountCategorySelect').removeClass('table-success');
    //        $(this).show();
    //    }
    //})

    // Search
    $('.txtSearch').on('blur', function () {
        // Table Body
        var vTableBody = $('.tblBodyAccountCategory');
        vTableBody.html('');
        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            $.post('/VAccountCategory/FilterAccountCategory',
                {
                    pCodeId: vSearchInput
                }, function (data, status) {
                    if (data != undefined && data != '') {
                        // JSON
                        var vDataResult = JSON.parse(data);

                        // Accounts
                        $.each(vDataResult, function (i, accountData) {

                            var vRowContent = funRowConfig(vDataResult[i])

                            // Append Row Content
                            vTableBody.append(vRowContent);
                        })
                    }
                  
                })

        }
        else {


        }
    })
    function funRowConfig(pRow) {
         var vRowContent = '<tr data-id="' + pRow.AccountCategoryId + '">';

                    var vAccountCategoryName = pRow.LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vAccountCategoryName = pRow.LookupDtlDescL;
                        }

                    vRowContent += '<td data-id="' + pRow.LookupDtlId + '">';
                    vRowContent += '<div class="divAccountCategorySelect d-flex p-2" data-id="' + pRow.LookupDtlId + '">';
                    vRowContent += '<div class="divAccountCategoryNo px-4">' + pRow.CodeId  + '</div>';
                                vRowContent += '<div class="divAccountCategoryName px-4">' + vAccountCategoryName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';
        return vRowContent;

    }
</script>



