
@using System.Data
@{

    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
    string name = ticket.Name;
    var Period = ViewBag.open;
    string UserId = string.Empty;
    if (Request.Cookies["UserId"] != null)
    { UserId = Request.Cookies["UserId"].Value; };
    int BranchId = 0;
    if (Request.Cookies["BranchId"] != null)
    { BranchId = Convert.ToInt32(Request.Cookies["BranchId"].Value); };
    string CashierId = string.Empty;
    if (Request.Cookies["CashierId"] != null)
    {
        CashierId = Request.Cookies["CashierId"].Value;
    };


    DateTime dateTimeFrom = ViewBag.DateFrom;
    DateTime dateTimeTo = ViewBag.DateTo;
}
@{
    ViewBag.Title = "المرتجعات";
}

<style>
    .selected {
        background-color: #2980b9 !important;
    }

    .errorClass {
        border: 1px solid red;
    }

    body {
        font-family: Cairo;
        background-color: #FFF;
    }

    .fullHeightInput {
        height: 50px;
    }

    .table th, .table td {
        font-size: 12px;
        text-align: center;
    }

    .table th {
        margin: auto;
        border: none !important;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .table {
        padding: 0rem;
    }

    .tblHead {
        border-bottom: 1px solid #d4d4d4;
        margin-bottom: 0.5rem;
    }

    input, select, textarea {
        max-width: 100% !important;
    }

    textarea {
        max-width: 100% !important;
    }

    .form-inline {
        margin-top: 0.5rem;
    }

    .table td, .table th {
        border-top: 0 !important;
    }

    .table th, .table td {
        padding: 0rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }


    /* Special Classes */
    .controlRow {
        margin-top: 0.5rem;
    }

    .checkInput {
        margin: auto;
    }

    .tblFooter {
        border: 0 !important;
    }

    .tooltip > .tooltip-inner {
        background-color: #2980b9;
    }

    .clsSelected {
        background-color: #2980b9 !important;
        cursor: pointer;
    }

    .tooltip > .tooltip-arrow {
        border-bottom-color: #2980b9;
    }

    .form-control:Readonly, .form-control[Readonly] {
        background-color: #eef1f5;
        opacity: 1;
    }

    .divGlVoucher {
        max-height: 50vh !important;
        overflow-y: scroll !important;
        background-color: #FFF;
    }

    .txtDiscount {
        height: 27px !important;
        padding: 1px;
    }

    .errorClass {
        border: 1px solid red;
    }

    .cardHeader {
        background-color: #D3EDFF;
    }

    .clsItem {
        height: 500px;
        border: 1px #dee2e6 solid;
        overflow-y: scroll !important;
    }

    .btn-Trans {
        color: #000000;
        background-color: #D3EDFF;
        border-color: #D3EDFF;
    }

    .selected {
        background-color: #2980b9 !important;
    }
</style>

<style>
    .btnUtility {
        background-color: #dfe6e9;
        color: #444;
    }
</style>


<div id="loading">
    <img src="~/Image/PreloaderImage/load-from-cloud.gif" class="loader" />
</div>
<!-- Header -->
<div class="">
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = "حركة الطلبات" })
</div>
<div class="report d-none">
</div>
<!-- Utlity -->
<div class="divUtilityBar d-flex ">
    @*@Html.Partial("~/Views/ViewSetting/ViewSettingUtilityBar.cshtml")*@
    <div class="row col-md-12">
        <div class="col-sm-2">
            <div>
                رقم الفاتورة<input type="text" class="form-control txtCode text-center" name="chkIsValid" min="0" />
                <input type="text" class="form-control txtId text-center d-none" name="chkIsValid" min="0" />
            </div>
            <div class="d-none">
                <input type="text" class="form-control txtiswait text-center d-none" min="0" />
            </div>
            <div class="d-none"><input type="text" class="form-control txtInvId text-center" value="0" /></div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    التاريخ من
                    <input type="date" class="form-control txtDateFrom text-center" value="@dateTimeFrom.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-sm-6">
                    التاريخ الي
                    <input type="date" class="form-control txtDateTo text-center" value="@dateTimeTo.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>

        <div class=" col-sm-1">
            البحث
            <div>
                <button type="button" class="btn btn-secondary  btnSearch">بحث</button>
            </div>
        </div>
    </div>


</div>

<!-- Head -->
<div class="row ">
    <div class="col-md-3 border-right" style="height:140vh">
        <div class=" ">
            <div class="clsItem">
                <table class=" table table-hover border tblCustomerOrder">
                    <thead>
                        <tr class="cardHeader">
                            <th>رقم الطلب</th>
                            <th>العميل</th>
                        </tr>
                    </thead>
                    <tbody class="tblGlVoucherBody">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-5">
        <table class="table table-sm table-responsive-sm">
            <thead>
                <tr class="tblHead">
                    <th class=""></th>
                    <th class="" width="50%">
                        <div>الوجبة</div>
                    </th>

                    <th class="">
                        <div>الكمية</div>
                    </th>
                    <th class="">
                        <div>السعر</div>

                    </th>
                    <th class="">
                        <div>الاجمالي</div>
                    </th>

                </tr>
            </thead>

            <tbody class="posBody">

                @*<tr class="posRow" data-id="0" value="0">
                    <td class="">
                        <button class="btn btn-light btn-sm border btnAddRow" type="submit"><i class="fa fa-plus-circle"></i> </button>
                    </td>
                    <td class="d-flex">
                        <div class="col-sm-4 p-0">
                            <input class="form-control  text-center   txtMealItemId d-none" type="text" value="" required="">
                            <input class="form-control  text-center   d-none txtMealId" type="text" value="" required="">
                            <input class="form-control  text-center   txtMealCode index" type="text" value="" unitid="undefined" required="">
                        </div>
                        <div class="col-sm-8 p-0"> <input class="form-control  text-center   txtMealName" type="text" value="" required="" disabled=""> </div>
                    </td>
                    <td class="">
                        <input class="form-control  text-center  txtQty index" value="1" type="text" required="">
                    </td>
                    <td class="">
                        <input class="form-control  text-center  txtPrice" value="" type="text" required="" disabled>
                    </td>
                    <td class="">
                        <input class="form-control  text-center  txtTotal" value="0" type="text" required="" disabled="">
                    </td>
                    <td><button class="btn btn-light btn-sm btnContentDelete" data-id="0"><i class="fa fa-trash"></i></button></td>
                </tr>*@
            </tbody>

        </table>
    </div>
    <div class="col-md-4 border-left">

        <div class="bg-white  ">
            <!-- Details -->
            <table class="table table-sm table-responsive-sm">
                <thead>
                    <tr class="tblHead">
                        <th class="">
                            <div></div>
                        </th>
                        <th class="" width="50%">
                            <div>الوجبة</div>
                        </th>
                        <th class="">
                            <div>الكمية</div>
                        </th>
                        <th class="">
                            <div>السعر</div>
                        </th>
                        <th class="">
                            <div>الاجمالي</div>
                        </th>
                    </tr>
                </thead>

                <tbody class="tblOrderBody">
                    <tr class="tblOrderRow" data-id="0">
                        
                        <td class="">
                            <button class="btn btn-danger btn-md border btnAdd" type="button"><i class="fa fa-arrow-right"></i> </button>
                        </td>
                        <td>
                            <input class="form-control  text-center   txtMealName" type="text" required disabled />
                        </td>


                        <td>
                            <input class="form-control  text-center  txtQty index" type="text" required />
                        </td>

                        <td>
                            <input class="form-control  text-center  txtPrice" type="text" required disabled />
                        </td>


                        <td>
                            <input class="form-control  text-center  txtTotal" type="text" required disabled />
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="row" style="align-content:center">
                <div class="">
                    <label class="small  mx-1 pt-2">الاجمالي</label>
                </div>
                <div class="">
                    <input class="form-control  text-center  font-weight-bold txtPayCash " type="text" min=0 required disabled />
                </div>


            </div>
        </div>

        <div class="pt-2">
            <button type="button" class="btn btn-primary btn-lg btnSave">حفظ</button>
        </div>
    </div>


</div>


<div id="ItemDataModal" class="fade modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="ItemDataModalContent"></div>
    </div>
</div>
<script>
    var Meals = $.parseJSON($.ajax({
        url: '/api/APIInvItem/InvItemGET',
        dataType: "json",
        method: 'GET', contentType: 'application/json',
        data: { pItemType: 3, pCategoryId: 1490, pQueryTypeId: '460', pItemSales: true },
        async: false
    }).responseText);
      var Driver = $.parseJSON($.ajax({
            url: '/api/APIResEmployee/ResEmployeeGET',
            dataType: "json",
            method: 'GET', contentType: 'application/json',
            data: { pValueTypeId: 1030,
                    pQueryTypeId: '400', },
            async: false
           }).responseText);

        var OrderId
        $('.tblCustomerOrderBody').on('keyup keydown click focus', '.tblCustomerOrderRow', function (e) {
        // Add Selected Class
        $('.tblOrderRow').removeClass('selected')
        $(this).addClass('selected')
        var OrderDate = $(this).find('.clsHeader').attr('Order-Date');
            OrderId = $(this).find('.OrderId').val();
            var delivry = $(this).find('.clsHeader').attr('DELIVERY')
        var CustomerName = $(this).find('.CustomerName').val();
        $('.txtOrderDate').val(OrderDate);
        $('.txtOrderId').val(OrderId);
        $('.txtCustomerName').val(CustomerName);
            $('.txtCustomerName').attr('Id', $(this).find('.clsHeader').attr('CustomerId'));
            $('.phonenumber').val( $(this).find('.clsHeader').attr('ORDER_PHONE_NUMBER'));
            //  alert(delivry)
            if (delivry === 'True') { $('#chkDelivery').prop('checked', true) } else { $('#chkDelivery').prop('checked', false) }

        $('.txtNote').val($(this).find('.clsHeader').attr('notes'));
        $('.clsUser').val($(this).find('.clsHeader').attr('CashierName'))
        $('.txtDeliverTime').val($(this).find('.clsHeader').attr('DELIVERY_Time'));
        $('.txtDeliverDate').val($(this).find('.clsHeader').attr('DELIVERY_DATE'));
         $('.txtAddress').val($(this).find('.clsHeader').attr('ADDRESS'));
        $('.txtperiod').val($(this).find('.clsHeader').attr('PERIOD_TYPEName'));
        $('.txtTotalOrder').val($(this).find('.clsHeader').attr('PRICE_CAT'));
        $('.txtTotalReq').val($(this).find('.clsHeader').attr('PRICE_CAT'));
        $('.txtTotalVat').val($(this).find('.clsHeader').attr('PRICE_CAT') * 0.05);
        $('.txtTotalDiscount').val($(this).find('.clsHeader').attr('Discount'));


            var Data = $(this).find('.clsData').text();
            var DataResult = JSON.parse(Data);
            displayData(DataResult)

            var CheckDeliver = $('#chkDelivery').prop('checked')
           // alert(CheckDeliver)
            if (CheckDeliver === false) {
                $('.btnDeliver').prop('disabled', true);
                $('.btnPost').prop('disabled', false);
            } else {
                $('.btnDeliver').prop('disabled', false);
                $('.btnPost').prop('disabled', true);

            }
            funPriceTotal()
            checkDelivery();
    })
        function displayData(pData) {
        var vGlVoucherDataResult = pData
                $('.tblOrderBody').html('')

                for (var i = 0; i <= pData.length - 1; i++) {

                    vCurrentRowIndex = i;
                    // GET Cash Desk Row Content
                    var vContent = funConfigTable(vGlVoucherDataResult[i]);
                    // Append Row Content
                    $('.tblOrderBody').append(vContent);
                }
    }
    function funConfigTable(pData) {
        var DataRow =
            '<tr class="tblOrderRow" style="font-size:10px "  data-id="' + pData.InvId + '" value="' + pData.InvId + '" >' +
            '<td class="">' +
            '<button class="btn btn-danger btn-md border btnAdd" type="button"><i class="fa fa-arrow-right"></i> </button>' +
            '</td>' +
            '<td >' +
            ' <input class="form-control  text-center   txtMealId d-none" type="text" Item-Type="' + pData.ItemType + '" value="'+ pData.InvItemId + '" unitid="' + pData.UnitId + '" required disabled />' +
            ' <input class="form-control  text-center   txtMealName" type="text" value="' + pData.InvItemName +'" required disabled />' +
            '</td >' +
            '<td class="d-none">' +
            '<div class="InvDTLId px-4">' + pData.InvDTLId + '</div>'+
            '</td>' +
            '<td >' +
            '<input class="form-control  text-center  txtQty index" data="' + pData.Qty + '" value="' + pData.Qty +'" type="text" required  disabled/>' +
            ' </td>' +
            '<td>' +
            '<input class="form-control  text-center  txtPrice" value="' + pData.Price +'" type="text" required disabled />' +
            '</td>' +
            '<td>' +
            '<input class="form-control  text-center  txtTotal" value="' + pData.Qty * pData.Price +'" type="text" required disabled />' +
            '</td>' +
            '<td class="">' +
            '<button class="btn  btn-md border btnRemove d-none" type="button"><i class="fa fa-trash"></i> </button>' +
            '</td>' +
            '</tr >';
        return DataRow;
    }

    function funConfigTableMeal(pData) {
        var DataRow =
'<tr class="posRow" data-id="0" value="0">' +
            '<td class="">' +
            '<button class="btn btn-light btn-sm border btnAddRow" type="submit"><i class="fa fa-plus-circle"></i> </button>' +
            '</td>' +
            '<td class="d-flex">' +
            '<div class="col-sm-4 p-0">' +
            ' <input class="form-control  text-center   txtMealItemId d-none" type="text" value="" required="">' +
            ' <input class="form-control  text-center   d-none txtMealId" type="text" value="" required="">' +
            '   <input class="form-control  text-center   txtMealCode index" type="text" value="" unitid="undefined" required=""></div>' +
            '        <div class="col-sm-8 p-0">' +
            ' <input class="form-control  text-center   txtMealName" type = "text" value = "" required = "" disabled = "" > </div >' +
            ' </td>' +
            '<td class="">' +
            '<input class="form-control  text-center  txtQty index" value="1" type="text" required="">' +
            '</td>' +
            '<td class="">' +
            '<input class="form-control  text-center  txtPrice" value="" type="text" required="" disabled>' +
            '</td>' +
            ' <td class="">' +
            '   <input class="form-control  text-center  txtTotal" value="0" type="text" required="" disabled="">' +
            ' </td>' +
            ' <td><button class="btn btn-light btn-sm btnContentDelete" data-id="0"><i class="fa fa-trash"></i></button></td>' +
            '    </tr>';


        return DataRow;
    }
    checkDelivery()
    $('#chkDelivery').on('change', function () {
        checkDelivery()
    })
    function checkDelivery() {
        var btnValue = $('#chkDelivery').prop("checked");;
      //
        if (btnValue === true) {
            $('.Driver').css('visibility', 'visible');
            $("#DriverId").val($("#DriverId option:first").val());
        }
        else {
            $('#DriverId').val(0)
            $('.Driver').css('visibility', 'hidden');

        }

    }
       // Bulk Save
    function funSaveInvoiceDtl() {
        var InvRef = $('.txtId').val()
        var iswait = $('.txtiswait').val()
        var InvId = $('.txtInvId').val()
        var valid = true
            let InvoiceDtls = [];
            //$(".posRow").each(function () {
        $(".posBody .tblOrderRow").each(function () {
                // Row Data
            var vRowData = $(this);
            var checkData = vRowData.find('.txtQty').attr('data');
            var Qty = parseFloat(vRowData.find('.txtQty').val());
            if (parseFloat(checkData) < parseFloat(vRowData.find('.txtQty').val())||!Number.isInteger(Qty)) {
                valid = false;
                vRowData.find('.txtQty').addClass('errorClass')
         
            }
           
                if (vRowData.find('.txtMealId').val() != '')
                    InvoiceDtls.push({
                        ItemId: vRowData.find('.txtMealId').val(),
                        ItemUnitId: vRowData.find('.txtMealId').val(),
                        UnitId: vRowData.find('.txtMealId').attr('unitid'),
                        dtlref: vRowData.find('.InvDTLId').text(),
                        Price: vRowData.find('.txtPrice').val(),
                        ItemQty: vRowData.find('.txtQty').val(),
                        ItemType: vRowData.find('.txtMealId').attr('Item-Type'),
                        ItemType: 1,
                        VatTotal: vRowData.find('.txtVat').val(),
                    });
            console.log(InvoiceDtls)

            });
        if (valid == true) {
            $.ajax({
                url: '/Invoice/InsertReturnBulk',
                method: 'POST', contentType: 'application/json',
                data: JSON.stringify({
                    InvoiceDtls,
                    InvId: InvId,
                    InvRef: InvRef,
                    UserId: '@UserId',
                    branchId:'@BranchId'
                }),
                beforeSend: function () {
                    $('#loading').show();
                },
                complete: function () {
                    $('#loading').hide();
                },
                success: function (r) {
                    var data = JSON.parse(r);

                    funNotification(data[0].msg, data[0].c)
                    if (data[0].c == 1) {
                        var vInvId = data[0].InvId;
                        // var printer = JSON.parse(data[0].Printer);
                        // var KitchenPrinter = data[0].KitchenPrinterId;

                        if (iswait != 'true') {
                            funPrintCashierReport(vInvId)
                            $('.txtCode').val('');
                        var vDocSearchNo = $('.txtCode').val();
                        var vDateFrom = $('.txtDateFrom').val();
                        var vDateTo = $('.txtDateTo').val();
                            
                        // Get Row
                         funGetGLVoucherData(vDocSearchNo, vDateFrom, vDateTo, null, null, null, null, null)
                            $('.tblOrderBody').html('')
                            $('.posBody').html('')
                        }
                    }
                }
            });
        } 
    }
    function printIframePOS(url) {
        $(".report").html('')
        $(".report").append('<iframe id="myId" src="' + url + '"  class=""></iframe>');


    }
    function funPrintCashierReport(InvId) {
        if (InvId) {
            printIframePOS("/pos/HtmlReport?InvId=" + InvId)
        }
    }

           // $('#DriverId').val(vDriverId);
           // Refresh Select Picker
           //  $('.DriverId').selectpicker('refresh');


    function funPriceTotal() {
      //  var TotalDiscount = '20';

            // Total Debit
            var Total = 0;
            var vatTotal = 0;
            var InsTotal = 0;
            var PlateTotal = 0;
            $('.txtTotal').each(function () {

                // Get Value
                var Price = $(this).val();

                // Check Value
                if (Price == '' || Price == null || Price == undefined) {
                    Price = 0;
                }
                // Add Value
                Total += parseFloat(Price);

                //return Total
            })


         $('.txtVat').each(function () {

                // Get Value
                var vat = $(this).val();

                // Check Value
                if (vat == '' || vat == null || vat == undefined) {
                    vat = 0;
                }
                // Add Value
                vatTotal += parseFloat(vat);

                //return vatTotal
         })

         $('.txtQty').each(function () {

                // Get Value txtMealId
             var Type = $(this).closest('tr').find('.txtMealId').attr('Item-Type')
             var Total = $(this).closest('tr').find('.txtTotal').val();
             var Qty = $(this).val();


             // Check Value
                if (Qty == '' || Qty == null || Qty == undefined) {
                    Qty = 0;
             }
             if (parseInt(Type) == 3) {
                 PlateTotal += parseFloat(Qty);
                 InsTotal += parseFloat(Total);

             }
              //  return InsTotal
         })

            // SET Values
           // $('.txtPayCash').val(Total.toFixed(2));
            $('.txtTotalTax').val(vatTotal.toFixed(2));
        $('.txtTotalIns').val(PlateTotal);
        $('.txtInsurance').val(InsTotal);
    }

     $('.btnClose').on('click', function () {
         var OrderId = $('.txtOrderId').val()
        if (OrderId) {
            // Update Is Posted
             $.get('/api/APIResOrder/ResOrderGET',
                {
                    // Head Parameters
                    pOrderId: OrderId,
                    pORDER_STATUS: 5,
                    pQueryTypeId: '202'
                },
                function (data, status) {
                    var DataResult = JSON.parse(data)
               // $('.selected').remove();
                       $('.tblCustomerOrderBody').load('/ResOrder/OrderData');
                   // $('.txtOrderId').val(Id)
                    funNotification('تم اقفال الطلب', 1)
                })

        }
     });
  $('body').on('click', '.btnAdd', function (e) {
      var Row = $(this).closest('tr');
      var InvId = Row.attr('data-id')
      var InvItemId = Row.find('.txtMealId').val()
      var InvItemName = Row.find('.txtMealName').val()
      var Qty = Row.find('.txtQty').val()
      var ItemType = Row.find('.txtMealId').attr('Item-Type')
      var Price = Row.find('.txtPrice').val()
      var InvDTLId = Row.find('.InvDTLId').text()
      var valid = true
      var form = {
          InvId,
          InvItemId,
          InvItemName,
          Qty,
          ItemType,
          Price,
          InvDTLId
      }
      
      $('.posBody .tblOrderRow').each(function () {
          var Dtl = $(this).closest('tr').find('.InvDTLId').text();
          if (InvDTLId == Dtl) {
              valid = false
          } 
      })
      if (valid == true)
      {
          $('.posBody').append(funConfigTable(form))
          $('.posBody').find('.btnAdd').addClass('d-none')
          $('.posBody').find('.btnRemove').removeClass('d-none')
          $('.posBody').find('.txtQty').prop("disabled", false);
      }
    
    })
      $('body').on('keyup dblclick', '.txtMealCode', function (e) {
        // F9 - Double Click
        if (e.keyCode == 120 || e.type == 'dblclick') {
            // Table Row - Closest Row
            vTableRow = $(this).closest('tr');
            // Search Account
            var vURL = '/ResItem/MealSearch';
            // Load Content of Account Search
            $('#ItemDataModalContent').load(vURL);
            // Modal Show
            $('#ItemDataModal').modal('show');
            // Focus
            $('#ItemDataModal').on('shown.bs.modal', function () {
                $('.txtSearch').focus();
                // Select Account
                $('body').on('click', '.divContentSelect', function () {
                    // Get Values
                    var vContentId = $(this).attr('data-id');
                    var vType = $(this).closest('tr').attr('data-type');
                    var Grpid = $(this).closest('tr').attr('data-type');
                    var vContentNameValue = $(this).find('.divContentName').text();
                    var vContentCodeValue = $(this).find('.divContentCode').text();
                    var UnitId = $(this).find('.divUnitId').text();
                    var vContentPriceValue = $(this).find('.divPrice').text();
                    var InvDTLId = $(this).find('.InvDTLId').text();
                    var vContentCategeoryValue = $(this).find('.divCategory').text();
                    // Get GLVoucherMeal Data
                    var vMealIdElement = vTableRow.find('.txtMealId');
                    var vMealNameElement = vTableRow.find('.txtMealName');
                    var vMealCodeElement = vTableRow.find('.txtMealCode');
                    var vMealPriceElement = vTableRow.find('.txtPrice');
                    var vMealInsElement = vTableRow.find('.txtIns');
                    var vMealVatElement = vTableRow.find('.txtVat');
                    var vQty = vTableRow.find('.txtQty');
                    var vTotal = vTableRow.find('.txtTotal');
                    // Set Value
                    vMealIdElement.val(vContentId);
                    vMealNameElement.val(vContentNameValue);
                    vMealCodeElement.val(vContentCodeValue);
                    vMealCodeElement.attr('data-type', vType);
                    vMealCodeElement.attr('grpid', Grpid);
                    vMealCodeElement.attr('unitid', UnitId);
                    vMealCodeElement.attr('InvDTLId', InvDTLId);
                    vMealPriceElement.val(vContentPriceValue);
                    vMealInsElement.val(0.00);
                    vMealVatElement.val(0.00);
                    vQty.val(1);
                    vTotal.val(vMealPriceElement.val() * vQty.val());





                let sum = 0;
                    let rent = 0;

            $('.txtTotalOrder').val(sum.toFixed(2));
        let sumVat = 0;
        $('.txtVat').each(function () {
            sumVat += $(this).val() * 1;
        });
                    $('#totalVat').val(sumVat.toFixed(2));


       $('.txtTotalReq').val(($('.txtTotalOrder').val() * 1 + $('.txtTotalIns').val() * 1 - $('.txtTotalDiscount').val() * 1).toFixed(2));

        $('#future-sum').val(($('.txtTotalReq').eq(0).val()*1).toFixed(2));
        //$('.txtPayCash').val(0);
        $('.txtPayNet').val(0);



                    // Modal Show
                    $('#ItemDataModal').modal('hide');
                    vTableRow.removeClass('table-info');

                    vTableRow = '';
                })
            })
        }
      })
    function funAddItemRow(pCurrentRow) {
        var RowContent = {
            NOTES: '',
            QTY_PLATE: '',
            SHEEP_REMAINDER: '',
            CUST_SHEEP: '',
            SLICING_TYPE: '',
            VAT_PRICE: '',
            PRICE: '',
            'OrderDTLID': '0',
            InvItemId: '',
            InvItemCode: '',
            InvItemNameL1: '',
            TAG: '',
            TagName: '',
            PRICE_INSUR: '',
            QTY: '',
        };
        var vRowContent = funConfigTableMeal(RowContent)
        $(pCurrentRow).closest("tr").after(vRowContent);

    }
    function funAddItemRow2() {
        var RowContent = {
            NOTES: '',
            QTY_PLATE: '',
            SHEEP_REMAINDER: '',
            CUST_SHEEP: '',
            SLICING_TYPE: '',
            VAT_PRICE: '',
            PRICE: '',
            'OrderDTLID': '0',
            InvItemId: '',
            InvItemCode: '',
            InvItemNameL1: '',
            TAG: '',
            TagName: '',
            PRICE_INSUR: '',
            QTY: '',
        };
        var vRowContent = funConfigTableMeal(RowContent)
        // Add Row After Current Row

            $('.posBody').append(vRowContent);

        //  funLoadSelectList()

    }
    $('body').on('click', '.btnAddRow', function () {
        var vRow = $(this).closest('tr')

        // Add New Row
        funAddItemRow(vRow)
        // funLoadSelectList()

    })
       $('body').on('click', '.btnContentDelete', function () {
        // Id - NameAr - NameEn
        var vElement = $(this)


                    // Only Delete The Row
                    vElement.closest('tr').remove();


                    // Check If IT The Last Row
                    var vLastRow = $('.tblOrderBody').find('tr').attr('data-id')
                    // Add Row If Empty
                    if (vLastRow == undefined) {
                      //  funAddDTLEmptyRow($('.tblDtlBody'))
                        funAddItemRow()
                    }
       }); // End of Click Event [Delete Button]
    $('body').on('click', '.btnRemove', function () {
        // Id - NameAr - NameEn
        var vElement = $(this)

                    // Only Delete The Row
                    vElement.closest('tr').remove();


                   
       }); // End of Click Event [Delete Button]

    $('.btnSearch').on('click', function () {
        var vDocSearchNo = $('.txtCode ').val();
        var vDateFrom = $('.txtDateFrom').val();
        var vDateTo = $('.txtDateTo').val();
        // Get Row
        funGetGLVoucherData(vDocSearchNo, vDateFrom, vDateTo, null, null, null, null, null)
    })
    function funGetGLVoucherData(DocNo, psDateFrom, psDateTo) {
        var vDataResult;
       // $.get('/api/APIINVInvoice/INVInvoiceGET',
        $.get('/api/APIINVInvoice/spReturnData',
            {
                // Head Parameters
                psGLVoucherNo: DocNo,
                psDateFrom: psDateFrom,
                psDateTo: psDateTo,
                //pQueryTypeId: '400',
                //phInvtype: 33,
            },
            function (data, status) {
                // JSON Parse
                vDataResult = JSON.parse(data);
                $('.tblGlVoucherBody').html('');
                $.each(vDataResult, function (m, GLVoucherData) {
                    // GET Cash Desk Row Content
                    var vAccountRowContent = funGlVoucherRowConfig(vDataResult[m]);
                    // Append Row Content
                    $('.tblGlVoucherBody').append(vAccountRowContent);
                });
            })
    }
         function funGlVoucherRowConfig(pGLVoucherRow) {
        var InvoiceDtl = JSON.stringify(pGLVoucherRow.InvoiceDTL)
        var Total;
        if (pGLVoucherRow.InvCurValue) {
            Total = (pGLVoucherRow.InvCurValue).toFixed(2)
        } else {
            Total = 0.00
        }

        // Content
             var RowContent =
                 '<tr class="tblGlVoucherRow" data-id="' + pGLVoucherRow.InvId + '" iswait="'+pGLVoucherRow.InvIsWait+'">' +
            //'<td><input type="checkbox" class="clsChk" name="chkIsValid" data-id="' + pGLVoucherRow.InvId + '"/></td> ' +
            '<td class="d-none clsData">' + InvoiceDtl + '</td>' +
            '<td class="code">' + pGLVoucherRow.InvCode + '</td>' +
            '<td>' + pGLVoucherRow.CustomerName + '</td>' +

           // '<td>' + pGLVoucherRow.InvDate + '</td>' +
            //'<td>' + pGLVoucherRow.CompanyId + '</td>' +
            //'<td>' + (Total) + '</td>' +
            //'<td>' + pGLVoucherRow.InvPhoneNo + '</td>' +
            +'</tr > '
        return RowContent
    }
    $('.tblGlVoucherBody').on('click', '.tblGlVoucherRow', function () {
        $('.posBody').html('');
        //funAddItemRow2();

        $('.tblGlVoucherRow').removeClass('clsSelected')
        $(this).addClass('clsSelected')

        var Element = $(this).attr('data-id')
        var Data = $(this).find('.clsData').text()

        var vDataResult = JSON.parse(Data)

        var TableRow = $('.tblOrderBody')
        TableRow.html('')
        var total = 0
        Meals = Data
        $.each(vDataResult, function (i, Dtl) {
            TableRow.append(funConfigTable(Dtl))
            total+= (Dtl.Price * Dtl.Qty)
        })
        $('.txtPayCash').val(total.toFixed(2));
        var id = $(this).attr('data-id')
        var iswait = $(this).attr('iswait')
        $('.txtCode').val($(this).closest('tr').find('.code').text());
        $('.txtId').val(id);
        $('.txtiswait').val(iswait);

    })
    $('.btnSave').on('click', function () {
        var valid = true;
        $('.posRow').each(function (i) {
                var vElement = $(this);
            var vdItemId = $(this).find('.txtMealCode').val()

                if (vdItemId == '') {
                                  // Error Class Validation
                                if (vdItemId == '' || vdItemId == '0') {
                                    vElement.find('.txtMealCode').addClass('errorClass')
                                }
                              valid = false;
                }
            });
        if (valid == true) {

            funSaveInvoiceDtl();
        } else {
            funNotification('يجب استكمال البيانات', 3)
        }
    })
</script>
