<!DOCTYPE html>
<html>
<body>

    <p>Click the button to open a new browser window.</p>

    <button onclick="myFunction()">Try it</button>

    <script>
        function myFunction() {
            var a = window.open("https://www.w3schools.com", '', 'height=500, width=500');
            a.close()
        }
    </script>

</body>
</html>
