
<style>
    .appDarkColor {
        color: #404E67;
    }

    #canvasChart {
        font-family: Cairo !important;
        margin: auto;
    }
</style>
<div id="container">@Html.Action("SystemSTAT", "DashBoard")</div>

