@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "AccountCostCenterSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

@{ int pAccountId = Convert.ToInt32(ViewBag.vbAccountId);}

<style>
    .divAccountCostCenter {
        max-height: 80vh;
        overflow: scroll;
    }

    .divAccountCostCenterSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divAccountCostCenterSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divAccountCostCenterCode {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource._CostCenter</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divAccountCostCenter">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyAccountCostCenter"></tbody>
    </table>

</div>


<!-- AccountCostCenter GET -->
<script>
    console.log('Account: ' + '@pAccountId')
    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // AccountCostCenter GET
        funAccountCostCenterGET();
    })

    // AccountCostCenter GET
    function funAccountCostCenterGET() {

        $.get('/api/APIGLVoucher/AccountCostCenterGET',
            {
                pAccountId: '@pAccountId',
                pQueryTypeId: '@clsQueryType.qSelect'

            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyAccountCostCenter');


                // AccountCostCenters
                $.each(vDataResult, function (i, AccountCostCenterData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].CostCenterId + '">';

                        var vAccountCostCenterName = vDataResult[i].CostCenterNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vAccountCostCenterName = vDataResult[i].CostCenterNameL2;
                        }

                        vRowContent += '<td data-id="' + vDataResult[i].CostCenterId + '">';
                            vRowContent += '<div class="divAccountCostCenterSelect d-flex p-2" data-id="' + vDataResult[i].CostCenterId + '">';
                                vRowContent += '<div class="divAccountCostCenterCode px-4">' + vDataResult[i].CostCenterCode + '</div>';
                                vRowContent += '<div class="divAccountCostCenterName px-4">' + vAccountCostCenterName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search AccountCostCenter -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();
        // Check Input
        if (vSearchInput) {

            // Check All
            $('.divAccountCostCenterSelect').each(function () {

                // Get AccountCostCenter Code
                var vAccountCostCenterCode = $(this).find('.divAccountCostCenterCode').text();
                var vAccountCostCenterName = $(this).find('.divAccountCostCenterName').text();

                // Check Result
                if (vAccountCostCenterCode.search(vSearchInput) != -1 || vAccountCostCenterName.search(vSearchInput) != -1) {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
                }
                else {
                    // Hide
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }
            })

        }
        else {
            // Show All
            $(this).removeClass('d-none');
            $(this).addClass('d-flex');


            $('.divAccountCostCenterSelect').each(function () {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
             
            })





        }
    })
</script>