
@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "BankSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divBank {
        max-height: 80vh;
        overflow: scroll;
    }

    .divBankSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divBankSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divBankNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource._Bank</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divBank">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyBank"></tbody>
    </table>

</div>


<!-- Bank GET -->
<script>
    
    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // Bank GET
        funBankGET();
    })
    // Main Bank Id
    var vMainBankId=$('.txtCheckBankId').val();
    // Bank GET
    function funBankGET() {

        $.get('/api/APIBank/BankGET',
            {
                pIsAccountDetail: true,
                pBankId: vMainBankId,
                pQueryTypeId: '@clsQueryType.qSelect',

            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyBank');

                console.log(vDataResult)
                // Banks
                $.each(vDataResult, function (i, BankData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].BankAccountId + '">';

                    var vBankName = vDataResult[i].BankNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vBankName = vDataResult[i].BankNameL2;
                        }
                    vRowContent += '<td data-id="' + vDataResult[i].BankId + '">';
                    vRowContent += '<div class="divBankSelect d-flex p-2" data-id="' + vDataResult[i].BankAccountId + '">';
                    vRowContent += '<div class="divBankId px-4">' + vDataResult[i].BankAccountId + '</div>';
                    vRowContent += '<div class="divCurrencyExchange d-none px-4">' + vDataResult[i].CurrencyExchange + '</div>';
                    vRowContent += '<div class="divAccountId d-none px-4">' + vDataResult[i].AccountId + '</div>';
                    vRowContent += '<div class="divAccountNo d-none px-4">' + vDataResult[i].AccountNo+ '</div>';
                    vRowContent += '<div class="divBankId d-none px-4">' + vDataResult[i].BankId + '</div>';
                    vRowContent += '<div class="divBankCode d-none px-4">' + vDataResult[i].BankCode + '</div>';
                    vRowContent += '<div class="divCostCenterId d-none px-4">' + vDataResult[i].CostCenterId + '</div>';
                    vRowContent += '<div class="divCostCenterName d-none px-4">' + vDataResult[i].CostCenterNameL1 + '</div>';
                    vRowContent += '<div class="divCostCenterCode d-none px-4">' + vDataResult[i].CostCenterCode + '</div>';

                    vRowContent += '<div class="divBankName px-4">' + vBankName + '</div>';

                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })




    }

</script>

<!-- Search Bank -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        // Check Input
        if (vSearchInput) {

            // Check All
            $('.divBankSelect').each(function () {

                // Get Bank Code
                var vBankCode = $(this).find('.divBankId').text();
                var vBankName = $(this).find('.divBankName').text();

                // Check Result
                if (vBankCode.search(vSearchInput) != -1 || vBankName.search(vSearchInput) != -1) {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
                }
                else {
                    // Hide
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            // Show All
            $(this).removeClass('d-none');
            $(this).addClass('d-flex');
        }
    })
</script>