
@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "CurrencySearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divCurrency {
        max-height: 80vh;
        overflow: scroll;
    }

    .divCurrencySelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divCurrencySelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divCurrencyNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.lblCurrency</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divCurrency">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyCurrency"></tbody>
    </table>

</div>


<!-- Currency GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // Currency GET
        funCurrencyGET();
    })

    // Currency GET
    function funCurrencyGET() {

        $.get('/api/APICurrency/CurrencyGET',
            {
                pQueryTypeId: '@clsQueryType.qSelect'

            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyCurrency');


                // Currencys
                $.each(vDataResult, function (i, CurrencyData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].CurrencyId + '">';

                    var vCurrencyName = vDataResult[i].CurrencyNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vCurrencyName = vDataResult[i].CurrencyNameL2;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].CurrencyId + '">';
                    vRowContent += '<div class="divCurrencySelect d-flex p-2" data-id="' + vDataResult[i].CurrencyId + '">';
                    vRowContent += '<div class="divCurrencyId px-4">' + vDataResult[i].CurrencyId + '</div>';
                    vRowContent += '<div class="divCurrencyName px-4">' + vCurrencyName + '</div>';

                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })




    }

</script>

<!-- Search Currency -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        // Check Input
        if (vSearchInput) {

            // Check All
            $('.divCurrencySelect').each(function () {

                // Get Currency Code
                var vCurrencyCode = $(this).find('.divCurrencyId').text();
                var vCurrencyName = $(this).find('.divCurrencyName').text();

                // Check Result
                if (vCurrencyCode.search(vSearchInput) != -1 || vCurrencyName.search(vSearchInput) != -1) {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
                }
                else {
                    // Hide
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            // Show All
            $(this).removeClass('d-none');
            $(this).addClass('d-flex');

            $('.divCurrencySelect').each(function () {

              

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
              

            })


        }
    })
</script>