@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "AccountSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divAccount {
        max-height: 80vh;
        overflow: scroll;
    }

    .divAccountSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divAccountSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divAccountNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.lblAccountDirectory</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divAccount">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyAccount"></tbody>
    </table>
</div>


<!-- Account GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        //// Account GET
        //funAccountGET();
    })

    // Account GET
    function funAccountGET() {

        $.get('/api/APIAccount/AccountGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyAccount');


                // Accounts
                $.each(vDataResult, function (i, accountData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].AccountId + '">';

                        var vAccountName = vDataResult[i].AccountNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vAccountName = vDataResult[i].AccountNameL2;
                        }

                        vRowContent += '<td data-id="' + vDataResult[i].AccountId + '">';
                            vRowContent += '<div class="divAccountSelect d-flex p-2" data-id="' + vDataResult[i].AccountId + '">';
                    vRowContent += '<div class="divAccountNo px-4">' + vDataResult[i].AccountNo + '</div>';
                                vRowContent += '<div class="divAccountName px-4">' + vAccountName + '</div>';
                                 vRowContent += '<div class="divAccountCurrencyFactor d-none px-4">' + vDataResult[i].CurrencyExchange + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search Account -->
<script>
    //// Search
    //$('.txtSearch').on('keyup', function () {

    //    // Search Input
    //    var vSearchInput = $(this).val();

    //    if (vSearchInput) {

    //        // Check All
    //        $('.divAccountSelect').each(function () {

    //            // Get Account Code
    //            var vAccountCode = $(this).find('.divAccountNo').text();
    //            var vAccountName = $(this).find('.divAccountName').text();

    //            if (vAccountCode.search(vSearchInput) != -1 || vAccountName.search(vSearchInput) != -1) {

    //                $(this).addClass('table-success');
    //                $(this).hide();

    //                console.log('found')
    //            }
    //            else {
    //                $(this).removeClass('table-success');
    //                $(this).show();
    //            }

    //        })

    //    }
    //    else {
    //        $('.divAccountSelect').removeClass('table-success');
    //        $(this).show();
    //    }
    //})


    // Search
    $('.txtSearch').on('blur', function () {
        // Table Body
        var vTableBody = $('.tblBodyAccount');
        vTableBody.html('');
        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            $.post('/Account/FilterAccounts',
                {
                    pAccountNo: vSearchInput
                }, function (data, status) {
                    // JSON
                    var vDataResult = JSON.parse(data);
                  
                        // Accounts
                $.each(vDataResult, function (i, accountData) {

                    var vRowContent = funRowConfig(vDataResult[i])

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })
            })

        }
        else {
           
     
        }
    })
    function funRowConfig(pRow) {
        var vAccountName = pRow.AccountNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vAccountName = pRow.AccountNameL2;
                        }
        var vRowContent = '<tr data-id="' + pRow.AccountId + '">';

        vRowContent += '<td data-id="' + pRow.AccountId + '">';
        vRowContent += '<div class="divAccountSelect d-flex p-2" data-id="' + pRow.AccountId + '">';
        vRowContent += '<div class="divAccountNo px-4">' + pRow.AccountNo + '</div>';
        vRowContent += '<div class="divAccountName px-4">' + vAccountName + '</div>';
        vRowContent += '<div class="divAccountCurrencyFactor d-none px-4">' + pRow.CurrencyExchange + '</div>';
        vRowContent += '</div>';
        vRowContent += '</td>';

        vRowContent += '</tr>';
        return vRowContent;


    }
    
</script>

