
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.body{
    background-color:#ffffff !important;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
            <div>
            <label>رقم الصنف</label>
             </div>
            <div>
            <input type="text" class="form-control">
             </div>
             </div>
            <label>الرقم الاصلي</label>
            <input type="text" class="form-control">
            <label>رقم المصنع</label>
            <input type="text" class="form-control">
            <label>رقم الصنف</label>
            <input type="text" class="form-control">
            <label>قياس الصنف</label>
            <input type="text" class="form-control">
            <label>تاريخ الانتاج</label>
            <input type="text" class="form-control">
            <label></label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-10">
        </div>
    </div>
</div>