
@{
    Layout = null;
}

<div class="divModalHeader">
    <div class="divModalHeaderTitle">
        @ViewBag.vbModalHeaderTitle
    </div>

    <div class="divModalHeaderSub">
        @ViewBag.vbModalHeaderTitleSub
    </div>
</div>
