@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "ExitTypeSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divExitType {
        max-height: 80vh;
        overflow: scroll;
    }

    .divExitTypeSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divExitTypeSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divExitTypeNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4"> @appResource.lblExitTypeDirectory </div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divExitType">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyExitType"></tbody>
    </table>
</div>


<!-- ExitType GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // ExitType GET
        funExitTypeGET();
    })

    // ExitType GET
    function funExitTypeGET() {

        $.get('/api/APIExitType/ExitTypeGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyExitType');


                // ExitTypes
                $.each(vDataResult, function (i, ExitTypeData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].LookupDtlId + '">';

                    var vExitTypeName = vDataResult[i].LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vExitTypeName = vDataResult[i].LookupDtlDesc;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divExitTypeSelect d-flex p-2" data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divExitTypeNo px-4">' + vDataResult[i].CodeId  + '</div>';
                                vRowContent += '<div class="divExitTypeName px-4">' + vExitTypeName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search ExitType -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            // Check All
            $('.divExitTypeSelect').each(function () {

                // Get ExitType Code
                var vExitTypeCode = $(this).find('.divExitTypeNo').text();
                var vExitTypeName = $(this).find('.divExitTypeName').text();

                if (vExitTypeCode.search(vSearchInput) != -1 || vExitTypeName.search(vSearchInput) != -1) {

                    //$(this).addClass('table-success');
                    //$(this).hide();
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');

                    console.log('found')
                }
                else {
                    //$(this).removeClass('table-success');
                    //$(this).show();
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            //$('.divExitTypeSelect').removeClass('table-success');
            //$(this).show();
            $('.divExitTypeSelect').each(function () {
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
            })
        }
    })
</script>