@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "ValueTypeSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divValueType {
        max-height: 80vh;
        overflow: scroll;
    }

    .divValueTypeSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divValueTypeSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divValueTypeNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.lblValueTypeDirectory</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divValueType">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyValueType"></tbody>
    </table>
</div>


<!-- ValueType GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // ValueType GET
        funValueTypeGET();
    })

    // ValueType GET
    function funValueTypeGET() {

     $.get('/api/APILookup/LookupGET',
            {
                pIsDetail: true,
                pLookupId: 110,
                pQueryTypeId: '@clsQueryType.qSelect',
                
            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyValueType');


                // ValueTypes
                $.each(vDataResult, function (i, ValueTypeData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].LookupDtlId + '">';

                    var vValueTypeName = vDataResult[i].LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vValueTypeName = vDataResult[i].LookupDtlDesc;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divValueTypeSelect d-flex p-2" data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divValueTypeNo px-4">' + vDataResult[i].ORD  + '</div>';
                                vRowContent += '<div class="divValueTypeName px-4">' + vValueTypeName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search ValueType -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            // Check All
            $('.divValueTypeSelect').each(function () {

                // Get ValueType Code
                var vValueTypeCode = $(this).find('.divValueTypeNo').text();
                var vValueTypeName = $(this).find('.divValueTypeName').text();

                if (vValueTypeCode.search(vSearchInput) != -1 || vValueTypeName.search(vSearchInput) != -1) {

                    //$(this).addClass('table-success');
                    //$(this).hide();
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');

                    console.log('found')
                }
                else {
                    //$(this).removeClass('table-success');
                    //$(this).show();
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            //$('.divValueTypeSelect').removeClass('table-success');
            //$(this).show();
            $('.divValueTypeSelect').each(function () {
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');


            })
        }
    })
</script>