@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "VehBrandSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divVehBrand {
        max-height: 80vh;
        overflow: scroll;
    }

    .divVehBrandSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divVehBrandSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divVehBrandNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.lblBrands</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divVehBrand">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyVehBrand"></tbody>
    </table>
</div>


<!-- VehBrand GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // VehBrand GET
        funVehBrandGET();
    })

    // VehBrand GET
    function funVehBrandGET() {

        $.get('/api/APIVehBrand/VehBrandGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyVehBrand');


                // VehBrands
                $.each(vDataResult, function (i, VehBrandData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].VehBrandId + '">';

                    var vVehBrandName = vDataResult[i].LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vVehBrandName = vDataResult[i].LookupDtlDesc;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divVehBrandSelect d-flex p-2" data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divVehBrandNo px-4">' + vDataResult[i].CodeId + '</div>';
                                vRowContent += '<div class="divVehBrandName px-4">' + vVehBrandName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search VehBrand -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            // Check All
            $('.divVehBrandSelect').each(function () {

                // Get VehBrand Code
                var vVehBrandCode = $(this).find('.divVehBrandNo').text();
                var vVehBrandName = $(this).find('.divVehBrandName').text();

                if (vVehBrandCode.search(vSearchInput) != -1 || vVehBrandName.search(vSearchInput) != -1) {

                    //$(this).addClass('table-success');
                    //$(this).hide();
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');

                    console.log('found')
                }
                else {
                    //$(this).removeClass('table-success');
                    //$(this).show();
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            //$('.divVehBrandSelect').removeClass('table-success');
            //$(this).show();
            $('.divVehBrandSelect').each(function () {
                    //$(this).addClass('table-success');
                    //$(this).hide();
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');

            })
        }
    })
</script>

