@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "VehModelSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divVehModel {
        max-height: 80vh;
        overflow: scroll;
    }

    .divVehModelSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divVehModelSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divVehModelNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">lblVehModelDirectory</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divVehModel">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyVehModel"></tbody>
    </table>
</div>


<!-- VehModel GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // VehModel GET
        funVehModelGET();
    })

    // VehModel GET
    function funVehModelGET() {

        $.get('/api/APIVehModel/VehModelGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyVehModel');


                // VehModels
                $.each(vDataResult, function (i, VehModelData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].VehModelId + '">';

                    var vVehModelName = vDataResult[i].LookupDtlDesc;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vVehModelName = vDataResult[i].LookupDtlDesc;
                        }

                    vRowContent += '<td data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divVehModelSelect d-flex p-2" data-id="' + vDataResult[i].LookupDtlId + '">';
                    vRowContent += '<div class="divVehModelNo px-4">' + vDataResult[i].CodeId  + '</div>';
                                vRowContent += '<div class="divVehModelName px-4">' + vVehModelName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search VehModel -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            // Check All
            $('.divVehModelSelect').each(function () {

                // Get VehModel Code
                var vVehModelCode = $(this).find('.divVehModelNo').text();
                var vVehModelName = $(this).find('.divVehModelName').text();

                if (vVehModelCode.search(vSearchInput) != -1 || vVehModelName.search(vSearchInput) != -1) {

                    $(this).addClass('table-success');
                    $(this).hide();

                    console.log('found')
                }
                else {
                    $(this).removeClass('table-success');
                    $(this).show();
                }

            })

        }
        else {
            $('.divVehModelSelect').removeClass('table-success');
            $(this).show();
        }
    })
</script>



