@using appSERP.appCode.Setting.User;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string UserId = string.Empty;
    if (Request.Cookies["UserId"] != null)
    { UserId = Request.Cookies["UserId"].Value; };

}
@{
    ViewBag.Title = "تغيير الرقم السري";
}
<style>
    body {
        background-color: white !important;
    }
</style>
<!-- Title -->
<div class="">
    @Html.Action("ViewSettingHeader", "ViewSetting", new { pHeaderTitle = "", pIsNew = false })
</div>
<!-- Utlity -->
<div class="divUtilityBar d-flex ">
    @Html.Partial("~/Views/ViewSetting/ViewSettingUtilityBar.cshtml")
</div>
<div class="container-fluid">
    <div class="row bg-white border rounded p-3 ">
        <div class="col-md-6">
            <div class="row pt-1">
                <div class="col-2">
                    <label>الرقم</label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control " id="txtUserId" disabled data-id="0" />
                </div>

            </div>
            <div class="row pt-1">
                <div class="col-2">
                    <label>الاسم بالكامل </label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control txtUserFullName" id="txtUserFullName" disabled data-id="0" />
                </div>

            </div>
            <div class="row pt-1">
                <div class="col-2">
                    <label>اسم المستخدم </label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control txtUserName" id="txtUserName" disabled data-id="0" />
                </div>

            </div>
            <div class="row pt-1">
                <div class="col-2">
                    <label>الرقم السري القديم</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control txtOldUserPassword d-none" id="txtOldUserPassword" data-id="0" />
                    <input type="password" class="form-control txtOldUserPassword2" id="txtOldUserPassword2" data-id="0" />
                </div>

            </div>
            <div class="row pt-1">
                <div class="col-2">
                    <label>الرقم السري الجديد</label>
                </div>
                <div class="col-10">
                    <input type="password" class="form-control txtUserPassword" id="txtUserPassword" data-id="0" />
                </div>

            </div>
            <div class="row pt-1">
                <div class="col-2">
                    <label>  تأكيد الرقم السري   </label>
                </div>
                <div class="col-10">
                    <input type="password" class="form-control txtUserConfirmPassword" id="txtUserConfirmPassword" data-id="0" />
                </div>

            </div>


        </div>

    </div>
</div>
<script>
    $.get('/api/APIUser/UserGet',
        {
            pUserId:'@UserId'
        }
        ,function (data) {
            console.log(data)
            var DataResult = JSON.parse(data)
            $('#txtUserId').val(DataResult[0].UserId);
            $('#txtUserName').val(DataResult[0].UserName);
            $('#txtUserFullName').val(DataResult[0].UserFullName);
            $('#txtOldUserPassword').val(atob(DataResult[0].UserPassword));



        })
    function SaveUser() {

        var UserId = $('#txtUserId').val();
        var UserName = $('#txtUserName').val();
        var UserFullName = $('#txtUserFullName').val();
        var UserPassword = $('#txtUserPassword').val();
        var UserConfirmPassword = $('#txtUserConfirmPassword').val();
        var EmpolyeeId = $('#txtEmployeeCode').attr('data-id');
        var EmpolyeeCode = $('#txtEmployeeCode').val()
        var OldPassword = $('#txtOldUserPassword').val();
        var OldPassword2 = $('#txtOldUserPassword2').val();

        if (UserPassword === UserConfirmPassword && OldPassword === OldPassword2) {
            $.get('/api/APIUser/UserGet',
                {
                    pUserId: UserId,
                    pUserName: UserName,
                    pUserFullName: UserFullName,
                    pUserPassword: btoa(UserPassword),
                    pEmployeeId: EmpolyeeId,
                    pIsDeleted: false,
                    pUserIsActive: true,
                    pLanguageId: 1,
                    pQueryTypeId: 100
                },
                function (data) {
                    var vDataResult = JSON.parse(data)
                    console.log(vDataResult[0].UserId)
                    console.log(vDataResult[0].UserNameIsExist)
                    $('#txtUserId').val(vDataResult[0].UserId)
                    funNotification('تم الحفظ بنجاح', 1)
                })
        } else {
            $('#txtUserConfirmPassword').addClass('errorClass')
            funNotification('الرقم السري غير متطابق', 3)
        }
    }
    $('.btnSave').on('click', function () {

            // Save  ALL
            SaveUser()


    }) // End BtnSave

    // Save Using F10
    $('body').on('keyup', function (e) {
        // Check F10
        if (e.keyCode == 121) {
            // Save  ALL
            SaveUser()
        }
    })
</script>