@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "TransactionTypeSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divTransactionType {
        max-height: 80vh;
        overflow: scroll;
    }

    .divTransactionTypeSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divTransactionTypeSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divTransactionTypeNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource._TransactionType</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>
<div class="divTransactionType">
    <table class="table table-bordered tblData border">
        <thead>
        </thead>
        <tbody class="tblBodyTransactionType"></tbody>
    </table>
</div>


<!-- TransactionType GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // TransactionType GET
        funTransactionTypeGET();
    })

    // TransactionType GET
    function funTransactionTypeGET() {

        $.get('/api/APITransactionType/TransactionTypeGET',
            {


            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyTransactionType');


                // TransactionTypes
                $.each(vDataResult, function (i, TransactionTypeData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].TransactionTypeId + '">';

                        var vTransactionTypeName = vDataResult[i].TransactionTypeNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vTransactionTypeName = vDataResult[i].TransactionTypeNameL2;
                        }

                        vRowContent += '<td data-id="' + vDataResult[i].TransactionTypeId + '">';
                            vRowContent += '<div class="divTransactionTypeSelect d-flex p-2" data-id="' + vDataResult[i].TransactionTypeId + '">';
                                vRowContent += '<div class="divTransactionTypeNo px-4">' + vDataResult[i].TransactionTypeCode + '</div>';
                                vRowContent += '<div class="divTransactionTypeName px-4">' + vTransactionTypeName + '</div>';
                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })
    }

</script>

<!-- Search TransactionType -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        if (vSearchInput) {

            // Check All
            $('.divTransactionTypeSelect').each(function () {

                // Get TransactionType Code
                var vTransactionTypeCode = $(this).find('.divTransactionTypeNo').text();
                var vTransactionTypeName = $(this).find('.divTransactionTypeName').text();

                if (vTransactionTypeCode.search(vSearchInput) != -1 || vTransactionTypeName.search(vSearchInput) != -1) {

                    $(this).addClass('table-success');
                    $(this).hide();

                    console.log('found')
                }
                else {
                    $(this).removeClass('table-success');
                    $(this).show();
                }

            })

        }
        else {
            $('.divTransactionTypeSelect').removeClass('table-success');
            $(this).show();
        }
    })
</script>