@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "CashSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divEmpAtType {
        max-height: 80vh;
        overflow: scroll;
    }

    .divEmpAtTypeSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divEmpAtTypeSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divEmpAtTypeNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">الكاشير</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-Cash mb-3">
            <div class="input-Cash-prepend">
                <span class="input-Cash-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divEmpAtType">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyCash"></tbody>
    </table>

</div>


<!-- Cash GET -->
<script>
    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // Cash GET
        funCashGET();
    })

    // Cash GET
    function funCashGET() {

        $.get('/api/APICashier/CashierGET',
            {

                pQueryTypeId: '@clsQueryType.qSelect',

            }, function (data, status) {
                
                // JSON
                var vDataResult = JSON.parse(data);
                console.log(vDataResult)
                // Table Body
                var vTableBody = $('.tblBodyCash');

                console.log(vDataResult)
                // Cashs
                $.each(vDataResult, function (i, CashData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].CashId + '">';

                    var vCashName = vDataResult[i].CashNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vCashName = vDataResult[i].CashNameL2;
                    }
                    vRowContent += '<td data-id="' + vDataResult[i].CashId + '">';
                    vRowContent += '<div class="divCashSelect d-flex p-2" data-id="' + vDataResult[i].CashId + '">';
                    vRowContent += '<div class="divCashId d-none px-4">' + vDataResult[i].CashId + '</div>';
                    vRowContent += '<div class="divCashCode d-none px-4">' + vDataResult[i].CashCode + '</div>';
                    vRowContent += '<div class="divCashName px-4">' + vDataResult[i].CashNameL1 + '</div>';

                        vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })




    }

</script>

<!-- Search Cash -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        // Check Input
        if (vSearchInput) {

            // Check All
            $('.divCashSelect').each(function () {

                // Get Cash Code
                var vCashCode = $(this).find('.divCashId').text();
                var vCashName = $(this).find('.divCashName').text();

                // Check Result
                if (vCashCode.search(vSearchInput) != -1 || vCashName.search(vSearchInput) != -1) {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
                }
                else {
                    // Hide
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            // Show All
            $(this).removeClass('d-none');
            $(this).addClass('d-flex');
        }
    })
</script>


