@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "UserSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divEmpAtType {
        max-height: 80vh;
        overflow: scroll;
    }

    .divEmpAtTypeSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divEmpAtTypeSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divEmpAtTypeNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.lblUser</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-User mb-3">
            <div class="input-User-prepend">
                <span class="input-User-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divEmpAtType">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyUser"></tbody>
    </table>

</div>


<!-- User GET -->
<script>
    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();

        // User GET
        funUserGET();
    })

    // User GET
    function funUserGET() {

        $.get('/api/APIUser/UserGET',
            {
 
                pQueryTypeId: '@clsQueryType.qSelect',

            }, function (data, status) {

                // JSON
                var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyUser');

                console.log(vDataResult)
                // Users
                $.each(vDataResult, function (i, UserData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].UserId + '">';

                    var vUserName = vDataResult[i].UserNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vUserName = vDataResult[i].UserNameL2;
                    }
                    console.log(vDataResult[i].AccountIsCostCenter)
                    vRowContent += '<td data-id="' + vDataResult[i].UserId + '">';
                    vRowContent += '<div class="divUserSelect d-flex p-2" data-id="' + vDataResult[i].UserId + '">';
                    vRowContent += '<div class="divUserId d-none px-4">' + vDataResult[i].UserId + '</div>';
                    vRowContent += '<div class="divUserCode d-none px-4">' + vDataResult[i].UserCode + '</div>';
                    vRowContent += '<div class="divUserName px-4">' + vDataResult[i].UserFullName + '</div>';


                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

            })




    }

</script>

<!-- Search User -->
<script>
    // Search
    $('.txtSearch').on('keyup', function () {

        // Search Input
        var vSearchInput = $(this).val();

        // Check Input
        if (vSearchInput) {

            // Check All
            $('.divUserSelect').each(function () {

                // Get User Code
                var vUserCode = $(this).find('.divUserId').text();
                var vUserName = $(this).find('.divUserName').text();

                // Check Result
                if (vUserCode.search(vSearchInput) != -1 || vUserName.search(vSearchInput) != -1) {

                    // Show Results
                    $(this).addClass('d-flex');
                    $(this).removeClass('d-none');
                }
                else {
                    // Hide
                    $(this).addClass('d-none');
                    $(this).removeClass('d-flex');
                }

            })

        }
        else {
            // Show All
            $(this).removeClass('d-none');
            $(this).addClass('d-flex');
        }
    })
</script>


