@using appSERP.Views.Shared.appResource
@{
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}
<style>
    body {
        background-color: #FFF;
    }

    .divFormControl, divFormDtl {
        background-color: #FFF;
        padding: 3px;
    }

    .tblInvItemBody {
        text-align: center;
        background-color: #FFF;
    }

    .divFormDtl {
        max-height: 40vh !important;
        overflow-y: scroll !important;
        background-color: #FFF;
    }
</style>
<div class="divContainer bg-light">
    <div class="card">
        <div class="card-header ">
            خيارات البحث
        </div>
        <div class="card-body">
            <div class="divFormControl">
                <div class="row">
                    <div class="col-sm-1">
                        <div>رقم المنتج<input type="text" class="form-control txtCode text-center" name="chkIsValid" min="0" /></div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                الاسم عربي
                                <input type="text" class="form-control txtNameL1 text-center" />
                            </div>
                            <div class="col-sm-6">
                                الاسم انجليزي
                                <input type="text" class="form-control txtNameL2 text-center" />
                            </div>
                        </div>
                    </div>

                    <div class=" col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                الفئات
                                <div>
                                    <select id="selectGroup" class="selectGroup form-control" name="GroupId" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                فئة الحساب
                                <div>
                                    <select id="selectCatAccount" class="selectCatAccount form-control" name="CatAccountId" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" col-sm-2">
                        المخزن
                        <div>
                            <select id="selectStore" class="selectStore form-control" name="StoreId" data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true"></select>
                        </div>
                    </div>
                    <div class=" col-sm-1">
                        البحث
                        <div>
                            <button type="button" class="btn btn-secondary  btnSearch">@appResource.btnSearch</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="card-footer text-muted">
                <button type="button" class="btn btn-secondary btnSearch">@appResource.btnSearch</button>

            </div>*@
    </div>

    <div class="divFormDtl ">
        <table class="table table-bordered table-hover tblInvItem">
            <thead>
                <tr>
                    <th class=" " data-checked="false">
                        <input type="checkbox" class="btnCheckAll">
                        تحديد الكل
                    </th>
                    <th>رقم المنتج</th>
                    <th>الاسم عربي</th>
                    <th> الاسم انجليزي</th>
                    <th> الفئات</th>
                    <th> فئة الحساب</th>
                    <th>المخزن</th>
                </tr>
            </thead>

            <tbody class="tblInvItemBody"></tbody>
        </table>

    </div>
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-secondary btnSelect">اختيار</button>
        </div>
    </div>
</div>

<script>
    //function Append
    function funInvItemRowConfig(pInvItemRow) {
        // Content
        var RowContent = '<tr>' +
            '<td><input type="checkbox" class="clsChk" name="chkIsValid" data-id="' + pInvItemRow.InvItemId + '"/></td> ' +
            '<td>' + pInvItemRow.InvItemCode + '</td>' +
            '<td>' + pInvItemRow.InvItemNameL1 + '</td>' +
            '<td>' + pInvItemRow.InvItemNameL2 + '</td>' +
            '<td>' + pInvItemRow.GroupName + '</td>' +
            '<td>' + pInvItemRow.CategoryName + '</td>' +
            '<td>' + pInvItemRow.StoreName + '</td>' +
            +'</tr > '
        return RowContent
    }
    function funGetInvItemData(pInvItemCode, pInvItemNameL1, pInvItemNameL2, pCatAccount, pGroup, pStore, phNumbers, pItemTypeId) {
        var vDataResult;
        $.get('/api/APIInvItem/InvItemGet',
            {
                // search Parameters
                pInvItemCode: pInvItemCode,
                pInvItemNameL1: pInvItemNameL1,
                pInvItemNameL2: pInvItemNameL2,
                pCategoryId: pCatAccount,
                pGRPId: pGroup,
                pStoreId: pStore,
                phNumbers: phNumbers,

                pItemType: pItemTypeId,
                phIsDeleted: false,
                // Query Type Id
                pQueryTypeId: '900',
                //pItemTypeId: pItemTypeId,
            },
            function (data, status) {

                // JSON Parse
                vDataResult = JSON.parse(data);
                console.log(vDataResult)
                $('.tblInvItemBody').html('');
                $.each(vDataResult, function (m, InvItemData) {
                    // GET Cash Desk Row Content

                    var vAccountRowContent = funInvItemRowConfig(vDataResult[m]);

                    // Append Row Content
                    $('.tblInvItemBody').append(vAccountRowContent);
                });

            })

        return vDataResult
    }
    // Action Search
    $('.btnSearch').on('click', function () {
        var vCode = $('.txtCode').val();
        var NameL1 = $('.txtNameL1').val();
        var Namel2 = $('.txtNameL2').val();
        var Group = $('#selectGroup').val();
        var CatAccount = $('#selectCatAccount').val();
        var Store = $('#selectStore').val();
        var vItemTypeId = $('.txtItemType').val();
    

    
        // Get Row
        funGetInvItemData(vCode, NameL1, Namel2,  CatAccount, Group, Store, null, vItemTypeId)
    })
    // Actione Load
    $(document).ready(function () {
     
        var vItemTypeId = $('.txtItemType').val();
        // Get Row
        funGetInvItemData(null, null, null, null, null, null, null, vItemTypeId)
    });

</script>
<script>

    // CheckBox Selector
    $(".btnCheckAll").click(function () {
        var vChecked = $(this).attr('data-checked');

        if (vChecked == 'true') {
            $(this).attr('data-checked', 'false');
            $("input[name='chkIsValid']").prop("checked", false);
        }
        else {
            $(this).attr('data-checked', 'true');
            vChecked = $(this).attr('data-checked');
            $("input[name='chkIsValid']").prop("checked", true);
        }
    });


   
    var vCatAccountId = 0
    // List GetCatAccount

        function fillCatAccount(data) {
            var vDataJSON = JSON.parse(data);
          
            $('#selectCatAccount').append('<option data-id="" value="" sort-id="" class="selected"  >-</option>')
            
            $.each(vDataJSON, function (i, CatAccount) {
              
                $('#selectCatAccount').append('<option data-id="' + CatAccount.LookupDtlId + '" value="' + CatAccount.LookupDtlId + '" sort-id="' + i + '">' + CatAccount.LookupDtlDesc + '</option>')
                if (i == 0) {
                    vCatAccountId = CatAccount.LookupDtlId;
                }
                $('#selectCatAccount').selectpicker('refresh');
            })
            //$('#selectCatAccount').val(vCatAccountId);
            // Refresh Select Picker
          
        }
    fillCatAccount(CatAccount)

     function fillPOSCat(data) {
             var vDataJSON = JSON.parse(data);
                $('#selectGroup').append('<option data-id="" value="" sort-id="" class="selected" >-</option>')
                $.each(vDataJSON, function (i, Group) {
                    $('#selectGroup').append('<option data-id="' + Group.LookupDtlId + '" value="' + Group.LookupDtlId + '" sort-id="' + i + '">' + Group.LookupDtlDesc + '</option>')

                    if (i == 0) {
                        vGroupId = Group.LookupDtlId;
                    }
                })
                //$('#selectGroup').val(vGroupId);
                // Refresh Select Picker
                $('#selectGroup').selectpicker('refresh')
            }
            //$('#selectCatAccount').val(vCatAccountId);
            // Refresh Select Picker
          
    fillPOSCat(POS)

    //var vStoreId = 0
    //// List GetStore
    //$.get('/api/APIStore/StoreGET',
    //        {
    //            pIsAccountDetail: true,
    //            pQueryTypeId: '400',

    //        },
    //    function (data, status) {
    //        var vDataJSON = JSON.parse(data);

    //        $('#selectStore').append('<option data-id="" value="" sort-id="0" class="selected" >-</option>')
    //        $.each(vDataJSON, function (i, Store) {
    //            $('#selectStore').append('<option data-id="' + Store.StoreId + '" value="' + Store.StoreId + '" sort-id="' + i + '">' + Store.StoreNameL1 + '</option>')
    //            if (i == 0) {
    //                vStoreId = Store.StoreId;
    //            }
    //        })
    //        //$('#selectStore').val(vStoreId);
    //        // Refresh Select Picker
    //        $('#selectStore').selectpicker('refresh');
    //    })

     var vGroupId=0
     // List GetGroup
    $.get('/api/APILookup/LookupGET',
             {
                pIsDetail: true,
                 pLookupId: 120,
                pQueryTypeId: '400',
            },
            function (data, status) {
                var vDataJSON = JSON.parse(data);
                $('#selectGroup').append('<option data-id="" value="" sort-id="" class="selected" >-</option>')
                $.each(vDataJSON, function (i, Group) {
                    $('#selectGroup').append('<option data-id="' + Group.LookupDtlId + '" value="' + Group.LookupDtlId + '" sort-id="' + i + '">' + Group.LookupDtlDesc + '</option>')

                    if (i == 0) {
                        vGroupId = Group.LookupDtlId;
                    }
                })
                //$('#selectGroup').val(vGroupId);
                // Refresh Select Picker
                $('#selectGroup').selectpicker('refresh');
            })
</script>
