@using appSERP.appCode.SQL.QueryType
@using appSERP.Views.Shared.appResource
@using appSERP.appCode.Setting.User
@{
    ViewBag.Title = "ContentSearch";
    Layout = "~/Views/Shared/appLayout/_ModalLayout.cshtml";
}

<style>
    .divContent {
        max-height: 80vh;
        overflow: scroll;
    }

    .divContentSelect {
        cursor: pointer;
        transition: all 0.5s;
    }

        .divContentSelect:hover {
            font-weight: bold;
            background-color: #2980b9;
            color: #FFF;
        }

    .divContentNo {
        width: 60px;
    }
</style>

<!-- Header -->
<div class="">
    <div class="w-100 bg-white border font-weight-bold p-4">@appResource.MealsContents</div>
</div>

<!-- Search -->
<div class="">
    <div class="w-100 bg-white border p-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control txtSearch" placeholder="@appResource.btnSearch">
        </div>
    </div>
</div>



<div class="divContent">

    <table class="table table-bordered tblData border">
        <thead>

        </thead>
        <tbody class="tblBodyContent"></tbody>
    </table>

</div>


<!-- Content GET -->
<script>

    // On Load
    $(document).ready(function () {

        // Focus on Search
        $('.txtSearch').focus();
        var Mealdata = Meals;
        // Content GET
        funContentGET(Mealdata);
    })

    // Content GET
    function funContentGET(data) {

                // JSON
        var vDataResult = JSON.parse(data);
                // Table Body
                var vTableBody = $('.tblBodyContent');

                // Contents
                $.each(vDataResult, function (i, ContentData) {

                    var vRowContent = '<tr data-id="' + vDataResult[i].ContentId + '" data-type="' + vDataResult[i].CategoryId + '" GrpId="' + vDataResult[i].CategoryId + '">';

                    var vContentName = vDataResult[i].ContentNameL1;
                        if ('@clsUser.vUserLanguageId' == '2') {
                            vContentName = vDataResult[i].ContentNameL2;
                    }
                    vRowContent += '<td data-id="' + vDataResult[i].ContentId + '">';
                    vRowContent += '<div class="divContentSelect d-flex p-2" data-id="' + vDataResult[i].InvItemId + '" >';
                    vRowContent += '<div class="divContentId d-none px-4">' + vDataResult[i].InvItemId + '</div>';
                    vRowContent += '<div class="divContentCode px-4 d-none">' + vDataResult[i].InvItemCode+ '</div>';
                    vRowContent += '<div class="divContentName px-4">' + vDataResult[i].InvItemNameL1 + '</div>';
                    vRowContent += '<div class="divUnitId d-none px-4">' + vDataResult[i].UnitId + '</div>';
                    vRowContent += '<div class="divUnitName px-4">' + vDataResult[i].UnitNameL1 + '</div>';
                    vRowContent += '<div class="divPrice px-4">' + vDataResult[i].Price + '</div>';
                    vRowContent += '<div class="InvDTLId px-4">' + vDataResult[i].InvDTLId + '</div>';

                            vRowContent += '</div>';
                        vRowContent += '</td>';

                    vRowContent += '</tr>';

                    // Append Row Content
                    vTableBody.append(vRowContent);
                })

           // })
    }

</script>

<!-- Search Content -->
<script>
    // Search
    $(document).ready(function () {
        $(".txtSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".tblData tbody tr ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>